{% extends 'base/base.html' %}
{% load static %}
{% block title %}Condominio Guai-Açu - Home{% endblock title%}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h2>
                        Pagina sendo elaborada.
                    </h2>
                    <p>
                        Estamos na fase de elaboração da Home Page deste site que  gerencia do Cond. Colina do Guai-Açu
                    </p>
                    <p>
                        <img src="{% static 'img/lateral3.png' %}">
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <h5 class="card-header">
                                Informações do Prédio
                            </h5>
                            <div class="card-body">
                                <p class="card-text">
{#                                    <img src="{% static 'img/luciano-ramalho.png' %}" />#}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

{% endblock body %}